
#main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: -10px;
}
#visor {
    flex: 0;
    background-color: rgb(199, 199, 199);
    color: white;
    font-family: 'sans-serif';
    min-height: 13vh;

}

.grey {
    background-color: grey;
}
.black {
    background-color: black;
}
#visor h1 {
    margin-left: 5vw;

}
#keyboard {
    display: flex;
    flex-direction:column;
    flex: auto;
}
#keyboard {
    background-color: grey;
}
#keyboard div {
    flex: 1;


}
.numbers {
    display: flex;
    justify-content: center;
}
.button{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(197, 197, 197);

}
.button h1 {
  color:white;  
  font-family: 'sans-serif';
  font-size: 5vh;
}