#main-container {
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    justify-content: center;
}
#visor {
    flex: 0;
    margin-bottom: 4px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}
#visor h1 {
    margin-left: 10vw;
}
#keyboard {
    display: flex;
    flex-direction:column;
    flex: auto;
    margin-top: 4px;
    margin-bottom: 15px;
}
#keyboard {
    background-color: grey;
}
#keyboard div {
    background: black;
    flex: 1;
    border: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white ;

}
.numbers {
    display: flex;
    justify-content: center;
}
.button{
    display:flex;
    justify-content: center;
    align-items: center;

}
.button h1 {
  color:white;  
  font-family: 'Courier New', Courier, monospace;
  font-size: 5vh;
}